/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  min-height: 600px;

  background: linear-gradient(to right, rgba(0, 0, 0.8, 0.99), rgba(0, 0, 0, 0.2)), url('/img/RevitSamples.png') center center no-repeat scroll;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  color: var(--ifm-header-color);
}

.buttons>a {
  margin-top: 1rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
  }

  .buttons>a {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .buttons>a {
    font-size: 11px;
  }
}